NEXT_PUBLIC_HOSTNAME= "hhttps://ntic-rabat.vercel.app"
NEXT_PUBLIC_API_URL= "https://ntic-rabat.vercel.app/api"
SERVER_PUBLIC_HOSTNAME= "http://api.asonts.com"
SERVER_PUBLIC_API_URL= "http://api.asonts.com/api"
NEXTAUTH_URL= "https://ntic-rabat.vercel.app"
NEXTAUTH_SECRET= "eQNTCuuDStNOELBXjIqHeEgEpJYOhQd9x6eMej+toGg="

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=auth-domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=storage-bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=app-id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=analytic-id