.EmploisPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @import "./imports/SelectClass";
    @import "./imports/Schedule";
    @import "./imports/MobileSchedule";
}