.HomePage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @import "./import/landing";
    @import "./import/service";
    @import "./import/EspaceEquippe";
    @import "./import/CertificatPuissant";
    @import "./import/LaPenseCreative";
    @import "./import/FormateursProfessionnels";
    @import "./import/ContactSection";
}