// Global Styling
@import './global/global';
@import './global/components';
@import './global/functions';
// Layout Components - Header & Footer, etc.
@import './layout/header';
@import './layout/footer';
@import './layout/background';
// Pages
@import "./pages/home/index";
@import "./pages/posts/announces";
@import "./pages/emplois/emplois";
@import "./pages/connexion/connexion";
@import "./pages/inscription/inscription";
@import "./pages/admin/index";
@import "./pages/emplois/imports/_Schedule";