/* Variables */

:root {
    --C1: #000;
    --C2: #29abe2;
    --C3: #39b54a;
    --C4: #fff;
    --C5: #303030;
}

/* Global */

$C1: #000;
$C2: #29abe2;
$C3: #39b54a;
$C4: #fff;
$C5: #303030;
$G1: linear-gradient(135deg,
    #000000 0%,
    #1A1A1A 100%);
;
$G2: linear-gradient(135deg,
    #29ABE2 0%,
    #4BB8E7 100%);
;
$G3: linear-gradient(135deg,
    #39B54A 0%,
    #64CE72 100%);
;
$G4: linear-gradient(135deg,
    #FFFFFF 0%,
    rgba(204, 204, 204, 0) 100%);
;
$G5: linear-gradient(135deg,
    #303030 0%,
    #666666 100%);
;
$GlobalGap: 0.75rem;
$HorizontalPadding: 5%;

@mixin GlobalPadding() {
    padding: 1rem 2rem;
}

$FormsRadius: 0.7rem;

// Scrollbar styling
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--C4);
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background-color: var(--mui-palette-common-background);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: $C2;

    &:hover {
        background-color: lighten($C2, 10%);
        cursor: grabbing !important;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-outfit),
        var(--font-cairo), Arial, sans-serif !important;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

// Other Files
@import "./core/card";
@import "./core/functions";
@import "./core/toastify";