.Header {
    background: transparent;
    width: 100%;
    max-height: 100px;
    @include GlobalPadding();
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    gap: $GlobalGap;

    .End,
    .Middle,
    .Start {
        flex: 1;
    }

    .Logo {
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            cursor: pointer;
        }
    }

    .Middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: $GlobalGap;

        .DefaultButton,
        button {
            min-width: 100px;
            height: 100%;
        }

        .DefaultButton.Black {
            color: $C4 !important;
        }
    }

    .End {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: $GlobalGap;

        .DefaultButton {
            min-width: 135px;

            &:last-of-type {
                color: $C4;
            }
        }

        .User {
            position: relative;
            width: 60%;
            height: 100%;
            background: $C4;
            border-radius: $FormsRadius;
            display: flex;
            align-items: stretch;
            gap: $GlobalGap;

            &__Info {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: $GlobalGap;
                width: 100%;
                height: 100%;
                overflow: hidden;

                &__Avatar {
                    position: relative;
                    height: 100%;
                    aspect-ratio: 1/1 !important;
                    border-radius: $FormsRadius;
                    background: $G3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: $GlobalGap;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $FormsRadius;
                    }
                }

                &__Name {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: $GlobalGap / 4;
                    height: 100%;
                    width: 100%;

                    h3 {
                        font-size: 0.9rem;
                        font-weight: 600;
                        color: rgba($C1, 75%);
                        width: 100%;
                    }

                    p {
                        font-size: 0.75rem;
                        font-weight: 400;
                        color: rgba(#000, 50%);
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 60%;
                        text-overflow: ellipsis;
                    }
                }
            }

            &__Action {
                position: relative;
                background-color: transparent;
                aspect-ratio: 1/1;
                height: 100%;
                border-radius: $FormsRadius;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__Dropdown {
                box-shadow: 0 0px 250px 0px rgba(darken($C2, 25%), 0.25);
                position: absolute;
                top: calc(100% + $GlobalGap);
                right: 0;
                width: 100%;
                height: auto;
                background: $C4;
                border-radius: $FormsRadius;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                gap: $GlobalGap;
                padding: $GlobalGap;
                z-index: 100000;

                .UsualButton {
                    @include DefaultButton($C4);
                    background-color: rgba($C1, 5%);
                    color: rgba($C1, 50%);
                    text-align: left;
                    justify-content: flex-start;
                }

                .DefaultButton {
                    text-align: left;
                    justify-content: flex-start;
                }
            }
        }
    }
}

// Styling dark header for login & signup page
.DarkHeader {
    background: $C1;
    width: 100%;
    padding: 0 $HorizontalPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .End {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .DefaultButton,
        button {
            background-color: lighten($C1, 10%);
            color: lighten($C1, 60%);
        }
    }
}

.NavBar.Mobile {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include GlobalPadding();

    .Logo {
        width: auto;
        height: 30px;
        aspect-ratio: 3/1;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            opacity: 0.65;
            cursor: pointer;
        }

        &:active {
            opacity: 1;
            cursor: pointer;
        }
    }

    .MenuButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 50%;
        height: auto;

        // background: $G3;
        .HeaderButton {
            padding: 1rem;
            color: $C3 !important;
            border-radius: $FormsRadius;

            >* {
                color: $C3 !important;
            }
        }
    }
}

.MenuWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    overflow: hidden;

    .MobileMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $G1;
        z-index: 1000;
        @include GlobalPadding();
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 2rem;
        user-select: none;
        backdrop-filter: brightness(0.1);

        .Main {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: auto;
            // background: $G5;
            border-radius: 1rem;

            .Logo {
                width: auto;
                height: 30px;
                aspect-ratio: 3/1;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:hover {
                    opacity: 0.65;
                    cursor: pointer;
                }

                &:active {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}