.SideBar {
    position: relative;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: $C1;
    gap: $GlobalGap;
    &__Pages {
        position: relative;
        width: auto;
        height: 100%;
        background-color: white;
        border-radius: $FormsRadius;
        box-shadow: 0 0px 250px 0px rgba(darken($C2, 25%), 0.25);
        z-index: 2;
        padding: $GlobalGap;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        gap: $GlobalGap * 2;
        .Buttons {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 100%;
                height: auto;
            }
        }
        .Pages {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            width: auto;
            height: auto;
            gap: $GlobalGap;
            .IconButton {
                border-radius: $FormsRadius / 2;
            }
        }
    }
    &__Navigation {
        height: 100%;
        min-width: 200px;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: $GlobalGap;
        background-color: white;
        border-radius: $FormsRadius;
        z-index: 2;
        align-items: stretch;
        justify-content: space-between;
        // padding: $GlobalGap;
        &__Header {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: $GlobalGap;
            padding: $GlobalGap;
            hr {
                margin: 0;
                // smooth color
                border-color: rgba(0, 0, 0, 0.1);
                border-style: solid;
                border-width: 0.5px;
                border-radius: 50%;
            }
            .Logo {
                position: relative;
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .Profile {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                gap: $GlobalGap;
                width: 100%;
                .Avatar {
                    $AvatarSize: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: $AvatarSize;
                    height: $AvatarSize;
                    background: $G1;
                    border-radius: $FormsRadius / 2;
                }
                .Name {
                    display: flex;
                    flex-direction: column;
                    gap: $GlobalGap / 2;
                    .Greeting {
                        font-size: 0.65rem;
                        font-weight: 600;
                    }
                    .UserName {
                        font-size: 1rem;
                        font-weight: 800;
                        // make it only in one line
                        white-space: nowrap;
                        overflow: hidden;
                        // make it only in the actual width
                        text-overflow: ellipsis;
                        // make the font smaller if it's too long 
                    }
                }
            }
        }
        .Navigation {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 100%;
            flex: 3;
            overflow-x: hidden;
            overflow-y: auto;
            // hide scrollbar
            &::-webkit-scrollbar {
                display: none;
            }
            .Current {
                position: absolute;
                left: -10px;
                top: 0;
                height: 50px;
                width: 27px;
            }
            .NavigationItem {
                display: flex;
                flex-direction: row;
                gap: $GlobalGap * 2;
                justify-content: start;
                width: 100%;
                height: 50px;
                &.Active {
                    $NavigationItemActiveBackgroundColor: rgba($C2, 0.25);
                    background-color: $NavigationItemActiveBackgroundColor;
                }
                .NavigationName {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    gap: $GlobalGap * 1;
                    padding-left: 15px;
                    font-size: 13px;
                    font-family: 'Outfit';
                    font-style: normal;
                    text-transform: capitalize;
                    line-height: 23px;
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: 650;
                    img {
                        height: auto;
                        aspect-ratio: 1/1;
                    }
                    .MuiTouchRipple-root {
                        color: rgba($C2, 0.5);
                    }
                }
            }
        }
        .UploadContainer {
            padding: $GlobalGap;
            .Upload {
                border: dotted 1px $C2;
                border-radius: 7.5px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 14px;
                justify-content: center;
                align-items: center;
                flex: 1;
                box-sizing: unset;
                padding: $GlobalGap;
                position: relative;
                overflow: hidden;
                .Hover {
                    background-color: transparent;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                .AddProject {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                    background: linear-gradient(135deg, #29ABE2 0%, #4BB8E7 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                .SharePotential {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    color: rgba(41, 171, 226, 0.5);
                }
            }
        }
    }
}