.Main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $GlobalGap;
    border-radius: $FormsRadius;
    overflow-y: scroll;
    max-height: 100vh;
    height: 100vh;

    // scrollbar
    &::-webkit-scrollbar {
        display: none;
    }

    .CreatePost {
        background-color: $C4;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: $GlobalGap;
        border-radius: $FormsRadius;
        gap: $GlobalGap;

        .Avatar {
            border-radius: $FormsRadius / 2;
            background-color: #000;
            object-fit: cover;
        }

        .Form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $GlobalGap / 2;

            textarea {
                width: 100%;
                border-radius: 7.5px;
                border: none;
                outline: none;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                font-weight: 500;
                color: rgba($C1, 75%);
                background: rgba(0, 0, 0, 0.025) !important;
                height: 60px;
                resize: none;
            }

            .Urls {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: $GlobalGap;

                .Url {
                    width: 100%;
                    border-radius: 7.5px;
                    border: none;
                    outline: none;
                    font-size: 0.8rem;
                    padding: 0.6rem 1rem;
                    font-weight: 500;
                    color: rgba($C1, 75%);
                    background: rgba(0, 0, 0, 0.025) !important;

                }
            }
        }

        .Actions {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            gap: $GlobalGap;

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $GlobalGap / 2;
                padding: 0.3rem 0.7rem;
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #333333;
                width: 100%;
                text-transform: capitalize;
                background-color: unset !important;

                &.Publish {
                    background: $G3;
                    color: white;
                }
            }
        }

        @include respond-to('small') {
            flex-direction: column;

            .Avatar {
                display: none;
            }

            .Actions {
                flex-direction: column;
            }
        }
    }

    .Posts {
        display: flex;
        flex-direction: column;
        gap: $GlobalGap;
    }
}