// function to manage responsiveness
// Usage: @include respond-to($breakpoint) { ... }
@mixin respond-to($breakpoint) {
    @if $breakpoint==small {
        @media (max-width: 720px) {
            @content;
        }
    }

    @else if $breakpoint==medium {
        @media (max-width: 1080px) {
            @content;
        }
    }

    @else if $breakpoint==large {
        @media (max-width: 1280px) {
            @content;
        }
    }

    @else if $breakpoint==xlarge {
        @media (max-width: 1420px) {
            @content;
        }
    }
}