@import "@/app/global/Global.scss";

.EspaceEquippe {
    position: relative;
    width: 100%;
    display: flex;
    gap: $GlobalGap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
    gap: $GlobalGap;
    @include GlobalPadding();

    >div {
        flex: 1;
    }

    .Text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0rem 0;
        padding-top: 5rem;
        gap: $GlobalGap;

        h3 {
            color: $C3;
            font-size: 0.9rem;
            text-transform: uppercase;
            margin-bottom: $GlobalGap;
        }

        h2 {
            font-weight: 700;
            margin-bottom: $GlobalGap;
        }

        p {
            font-weight: 400;
            opacity: 0.60;
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        .Buttons {
            display: flex;
            justify-content: space-between;
            gap: $GlobalGap * 2;

            .Button {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

                .Icon {
                    font-size: 1.2rem;
                }

                .IconButton {
                    border-radius: 50px;
                    padding: 0.25rem !important;

                    .Icon,
                    svg {
                        font-size: 1rem !important;
                    }
                }

                span {
                    font-size: 1rem;
                    font-weight: 600;
                }

                &:first-child {
                    .MuiButtonBase-root {
                        color: $C4 !important;
                    }
                }
            }
        }
    }

    .ImageContainer {
        position: relative;
        border-radius: $FormsRadius;
        overflow: hidden;

        .Image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center bottom;
        }
    }
}

@include respond-to("small") {
    .EspaceEquippe {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        // background-color: black;
        gap: $GlobalGap;
        height: 100%;

        .Text {
            height: auto;
            padding: 1rem 0;
        }

        .ImageContainer {
            width: 100%;
            height: 100%;
            min-height: 250px;
            position: relative;

            .Image {
                top: 100px;
                inset: unset;
                object-position: bottom;
            }
        }
    }
}