@import "@/app/global/Global.scss";

.CertificatPuissant {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
    gap: $GlobalGap;
    @include GlobalPadding();

    >div {
        flex: 1;
    }

    .Text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0rem 0;
        gap: $GlobalGap;

        h3 {
            color: $C3;
            font-size: 0.9rem;
            text-transform: uppercase;
            margin-bottom: $GlobalGap;
        }

        h2 {
            font-weight: 700;
            margin-bottom: $GlobalGap;
        }

        p {
            font-weight: 400;
            opacity: 0.60;
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        .Buttons {
            display: flex;
            justify-content: space-between;
            gap: $GlobalGap * 2;

            .Button {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

                .Icon {
                    font-size: 1.2rem;
                }

                .IconButton {
                    border-radius: 50px;
                    padding: 0.25rem !important;

                    .Icon,
                    svg {
                        font-size: 1rem !important;
                    }
                }

                span {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    .ImageContainer {
        position: relative;
        border-radius: $FormsRadius;
        overflow: hidden;
        background-image: linear-gradient(to top, rgba($C3, 15%) 0%, rgba($C3, 0%) 50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .Image {
            // position: absolute;
            position: relative !important;
            width: 75% !important;
            height: 75% !important;
            object-fit: contain;
            object-position: center center;
        }
    }

    .MuiButtonBase-root {
        color: $C4 !important;
    }
}

@include respond-to("small") {
    .CertificatPuissant {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        // background-color: black;
        gap: $GlobalGap;
        height: 100%;

        .Text {
            height: auto;
            padding: 1rem 0;
        }

        .ImageContainer {
            width: 100%;
            height: 100%;
            min-height: 350px;
            position: relative;

            .Image {
                top: 100px;
                inset: unset;
                object-position: bottom;
                // makinfe3 b walo mea Next Image
                // dima endha l width o l height d container dyalha
                // mli kaddir liha f properties Fill
            }
        }
    }
}