@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700;800;900;1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
    --C1: #000;
    --C2: #29abe2;
    --C3: #39b54a;
    --C4: #fff;
    --C5: #303030;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit, Cairo, sans-serif !important;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}