.ConnectHeader {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: $FormsRadius;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    z-index: 2;
    .Left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: $GlobalGap;
        .ConnectHeaderButton {
            background-color: $C4;
            border-radius: 10px;
            font-size: smaller;
            text-transform: capitalize;
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            padding: 0.5rem 1.5rem;
            line-height: 25px;
            color: rgba(0, 0, 0, 0.5);
            opacity: 0.75;
            &.Active {
                background: $G3;
                color: white;
                opacity: 1;
            }
        }
    }
    .Middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        .SearchInput {
            position: absolute;
            width: 35%;
            height: 40px;
            border-radius: 10px;
            border: none;
            background: $C4;
            padding: 0 2.1rem;
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            color: rgba(0, 0, 0, 0.75);
        }
        .SearchIcon {
            position: relative;
            left: 12px;
            font-size: unset;
        }
    }
    .Right {
        .User {
            position: relative;
            width: auto;
            height: 100%;
            background: $C4;
            border-radius: $FormsRadius;
            display: flex;
            align-items: stretch;
            gap: $GlobalGap;
            &__Info {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: $GlobalGap;
                width: 100%;
                height: 100%;
                overflow: hidden;
                &__Avatar {
                    position: relative;
                    height: 100%;
                    aspect-ratio: 1/1 !important;
                    border-radius: $FormsRadius;
                    background: $G3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: $GlobalGap;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $FormsRadius;
                    }
                }
                &__Name {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: $GlobalGap / 4;
                    height: 100%;
                    width: 100%;
                    h3 {
                        font-size: 0.9rem;
                        font-weight: 600;
                        color: rgba($C1, 75%);
                        width: 100%;
                    }
                    p {
                        font-size: 0.75rem;
                        font-weight: 400;
                        color: rgba(#000, 50%);
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 60%;
                        text-overflow: ellipsis;
                    }
                }
            }
            &__Action {
                position: relative;
                background-color: transparent;
                aspect-ratio: 1/1;
                height: 100%;
                border-radius: $FormsRadius;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            // Dropdown
            &__Dropdown {
                box-shadow: 0 0px 250px 0px rgba(darken($C2, 25%), 0.25);
                position: absolute;
                top: calc(100% + $GlobalGap);
                right: 0;
                width: 100%;
                height: auto;
                background: $C4;
                border-radius: $FormsRadius;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                gap: $GlobalGap;
                padding: $GlobalGap;
                z-index: 100000;
                .UsualButton {
                    @include DefaultButton($C4);
                    background-color: rgba($C1, 5%);
                    color: rgba($C1, 50%);
                    text-align: left;
                    justify-content: flex-start;
                }
                .DefaultButton {
                    text-align: left;
                    justify-content: flex-start;
                }
            }
        }
    }
}