.MobileConnect {
    display: flex;
    gap: $GlobalGap;
    flex-direction: column;
    height: 110vh;
    align-items: stretch;
    padding: 0 1rem;
    background: linear-gradient(0deg, rgba(41, 171, 226, 0.1), rgba(41, 171, 226, 0.1)), #FFFFFF;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    .Header {
        width: 100%;
        padding: 1rem 0 0 0;



        .MobileConnectHeader {
            background-color: $C4;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $GlobalGap;
            padding: 0.7rem;
            border-radius: $GlobalGap;
            flex: 1 3 1;
            height: 100%;

            .HeaderText {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .Greeting {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 600;
                    line-height: 13px;
                    font-size: 10px;
                    width: 100%;

                    color: rgba(0, 0, 0, 0.6);
                }

                .Name {
                    font-weight: 600;
                    line-height: 20px;
                    font-family: 'Outfit';
                }

            }

            .HeaderIcon {

                background: $G2;
                padding: 0.5rem;
                padding-bottom: 0.4rem;
                font-size: 15px;
                border-radius: 10px;
                color: $C4;
            }
        }
    }

    .MobileConnectContent {
        display: flex;
        gap: $GlobalGap;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        // hide scrollbar
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .CreatePost {

            background-color: $C4;
            border-radius: $GlobalGap;
            padding: 10px;

            .Form {
                display: flex;
                flex-direction: column;
                gap: $GlobalGap;

                textarea {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    padding: 10px 8px;
                    padding-bottom: 8px;
                    border: none;
                    outline: none;
                    background: rgba(0, 0, 0, 0.025);
                    border-radius: 7.5px;
                    resize: none;
                }

                button {
                    display: flex;
                    flex-direction: row;
                    gap: $GlobalGap;
                    background: linear-gradient(135deg, rgba(41, 171, 226, 0.1) 0%, rgba(75, 184, 231, 0.1) 100%);
                    border-radius: 7.5px;
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: capitalize;
                    color: #333333;

                    &.Publish {
                        background: $G3;
                        color: $C4;
                    }
                }
            }
        }

        .Content {
            display: flex;
            flex-direction: column;
            gap: $GlobalGap;

            .Post {
                .PostHeader {
                    display: flex;
                    flex-direction: row;
                    gap: $GlobalGap;
                    align-items: center;

                    .PostHeaderName {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        .UserName {
                            font-family: 'Outfit';
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            font-size: 16px;
                            color: #333333;
                        }

                        .TimeAgo {
                            font-family: 'Outfit';
                            font-style: normal;
                            font-weight: 600;
                            line-height: 14px;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }
                }

                .PostBody {
                    white-space: pre-line;
                    font-size: 0.9rem;
                    font-weight: 450;
                }

                .PostActions {
                    display: flex;
                    flex-direction: row;
                    gap: $GlobalGap;
                    align-items: center;
                    margin-top: 10px;

                    button {
                        display: flex;
                        flex-direction: row;
                        gap: $GlobalGap /2;

                        .ButtonIcon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }


    }

    .MobileFooter {
        display: flex;
        flex-direction: row !important;
        background-color: #FFFFFF;
        justify-content: space-around;
        padding-left: 0;
        padding: 0.5rem;
        box-shadow: 0px 219px 87px rgba(41, 171, 226, 0.01), 0px 123px 74px rgba(41, 171, 226, 0.05), 0px 55px 55px rgba(41, 171, 226, 0.09), 0px 14px 30px rgba(41, 171, 226, 0.1), 0px 0px 0px rgba(41, 171, 226, 0.1);
        border-radius: 15px;
        position: relative;
        margin-bottom: 5px;

        .MobileNavigationItem {
            width: 100%;
            padding: 0;

            .MobileNavigationName.Plus {
                img {
                    position: absolute;
                    bottom: -25px;
                    width: 85px;
                    height: 85px;
                }
            }

        }

    }
}