.Post {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: $GlobalGap;
    padding: $GlobalGap;
    border-radius: 15px;
    width: 80%;
    .PostHeader {
        display: flex;
        flex-direction: row;
        gap: $GlobalGap;
        align-items: center;
        .PostHeaderName {
            font-size: 1rem;
            font-weight: 400;
            .UserName {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                display: flex;
                align-items: center;
                color: #000000;
            }
            .TimeAgo {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 19px;
                /* identical to box height */
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .PostBody {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.75);
    }
    .PostActions {
        display: flex;
        flex-direction: row;
        gap: $GlobalGap;
        align-items: center;
        justify-content: space-between;
        button {
            background-color: red;
            border: none;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 400;
            padding: 0;
            width: 100%;
            text-transform: capitalize;
        }
    }
}