.Header {
    background: transparent;
    width: 100%;
    @include GlobalPadding();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: $GlobalGap;
    // All Children same width, for spacing equality.
    .Start,
    .Middle,
    .End {
        flex: 1;
    }
    .Logo {
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            cursor: pointer;
        }
    }
    .Middle {
        display: flex;
        align-items: center;
        justify-content: center;
        // row
        flex-direction: row;
        gap: $GlobalGap;
        // All Buttons same width
        .DefaultButton,
        button {
            min-width: 100px;
        }
        .DefaultButton.Black {
            color: $C4 !important;
        }
    }
    .End {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $GlobalGap;
        // Same width for the buttons
        .DefaultButton,
        button {
            min-width: 135px;
            &:last-of-type {
                color: $C4;
            }
        }
    }
}

// Styling dark header for login & signup page
.DarkHeader {
    background: $C1;
    width: 100%;
    padding: 0 $HorizontalPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .End {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .DefaultButton,
        button {
            background-color: lighten($C1, 10%);
            color: lighten($C1, 60%);
        }
    }
}

.NavBar.Mobile {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include GlobalPadding();
    .Logo {
        width: auto;
        height: 30px;
        aspect-ratio: 3/1;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:hover {
            opacity: 0.65;
            cursor: pointer;
        }
        &:active {
            opacity: 1;
            cursor: pointer;
        }
    }
    .MenuButton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 50%;
        height: auto;
        // background: $G3;
        .HeaderButton {
            padding: 1rem;
            color: $C3 !important;
            border-radius: 10px;
            >* {
                color: $C3 !important;
            }
        }
    }
}

.MenuWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    overflow: hidden;
    .MobileMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $G1;
        z-index: 1000;
        @include GlobalPadding();
        padding-top: 5%;
        padding-bottom: 5%;
        gap: 2rem;
        user-select: none;
        backdrop-filter: brightness(0.1);
        .Main {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: auto;
            // background: $G5;
            border-radius: 1rem;
            .Logo {
                width: auto;
                height: 30px;
                aspect-ratio: 3/1;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &:hover {
                    opacity: 0.65;
                    cursor: pointer;
                }
                &:active {
                    opacity: 1;
                    cursor: pointer;
                }
            }
            .CloseButton {
                @include IconButton($C3);
                padding: 1rem !important;
                color: $C3;
                border-radius: 10px;
                background-color: transparent;
                outline-color: $C3;
                border-color: $C3;
            }
        }
        .Items {
            width: 100%;
            height: 1100%;
            border-radius: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 0;
            margin-inline: auto;
            position: relative;
            .Item {
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $C4;
                z-index: 1000;
                svg {
                    margin-bottom: 1rem;
                    pointer-events: none;
                }
            }
            .Current {
                position: absolute;
                top: 0;
                left: 0;
                background: $G2;
                display: block;
                width: 50%;
                height: calc(100% / 3);
                border-radius: 1rem;
                z-index: 0;
                transition: all 100ms ease;
                box-shadow: 0px 1rem 30px 10px rgba(#000, 25%);
                // filter: brightness(0.25);
            }
        }
    }
}