.MobileSchedule {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;

    .ScheduleHeader {
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $C5;
        gap: $GlobalGap;
        overflow: hidden;

        .ScheduleTiming {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $C4;
            color: rgba($C1, 25%);
            border-radius: $FormsRadius;
            padding: 0.5rem;
            width: 100%;
            font-size: 0.75rem;
            font-weight: 800;
        }
    }

    .ScheduleBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: $GlobalGap;

        .ScheduleDay {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $C5;
            gap: $GlobalGap;
            overflow: hidden;

            .ScheduleDayName {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: $GlobalGap;
                align-items: center;
                justify-content: center;
                background-color: $C2;
                color: $C4;
                border-radius: $FormsRadius;
                padding: 0.5rem;
                width: 100%;
                font-size: 0.75rem;
                font-weight: 800;
                overflow: hidden;

                span {
                    &.Day {
                        font-size: 0.75rem;
                    }

                    &.Temperature {
                        font-size: 0.75rem;
                        opacity: 50%;
                    }

                    z-index: 5;
                }

                .Icon {
                    position: absolute;
                    left: -0.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 90%;
                    width: auto;
                    z-index: 5;

                    svg {
                        height: 100%;
                        width: auto;
                    }
                }

                .Banner {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    opacity: 50%;
                    z-index: 0;

                    .Clouds {
                        position: absolute;
                        bottom: -150%;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: transparent !important;

                        img:nth-child(1) {
                            --i: 1;
                        }

                        img:nth-child(2) {
                            --i: 2;
                        }

                        img:nth-child(3) {
                            --i: 3;
                        }

                        img:nth-child(4) {
                            --i: 4;
                        }

                        img:nth-child(5) {
                            --i: 5;
                        }

                        img {
                            position: absolute;
                            bottom: 0;
                            max-width: 100%;
                            animation: animate calc(32s * var(--i)) linear infinite;
                        }

                        @keyframes animate {
                            0% {
                                transform: translateX(-100%);
                            }

                            100% {
                                transform: translateX(100%);
                            }
                        }
                    }
                }
            }

            .ScheduleDayHours {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                color: $C5;
                border-radius: $FormsRadius;
                padding: 0;
                width: 100%;
                font-size: 0.85rem;
                font-weight: 800;
                gap: $GlobalGap;
                // scrollable
                overflow-x: auto;
                overflow-y: hidden;
                // hide scrollbar
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .ScheduleTimeCell {
                    // background-color: $C1;
                    color: $C4;
                    display: flex;
                    align-items: stretch;
                    flex-direction: column;
                    padding: 0.5rem;
                    border-radius: $FormsRadius;
                    width: auto;
                    min-width: 76px;
                    height: auto;
                    gap: $GlobalGap / 2;

                    .Prof {
                        // let the text display on one line , and decrease the font size if it's too long
                        white-space: nowrap;
                        text-overflow: inherit;
                        font-size: 0.6rem;
                        font-weight: 600;
                        text-transform: capitalize !important;
                    }

                    .Class {
                        font-size: 0.6rem;
                        font-weight: 600;
                        opacity: 100%;
                        padding: 0.25rem;
                        border-radius: $FormsRadius / 2;
                        background-color: $C4;
                        color: rgba($C1, 50%);
                    }
                }
            }

            .Online {
                background-color: rgba(#39B54A, .2);

                .Prof {
                    font-weight: 650;
                    color: #2da63d;
                }

                .Class {
                    background-color: #39B54A !important;
                    color: $C4 !important;
                }
            }

            .Presential {
                background-color: $C1;
            }

            .Free {
                background-color: $C4;
                height: 47px !important;
            }

            .Absent {
                background-color: rgba(#F74343, 0.4);

                .Class {
                    background-color: #F74343 !important;
                    color: $C4 !important;
                }
            }
        }
    }
}