.ContactSection {
    display: flex;
    flex-direction: column;
    gap: $GlobalGap;
    @include GlobalPadding();
    .Title {
        text-align: center;
        width: 100%;
        h3 {
            color: $C3;
            font-size: 1.5rem;
            text-transform: none;
            margin-bottom: $GlobalGap;
        }
        p {
            font-weight: 400;
            opacity: 0.60;
            font-size: 1rem;
            margin-bottom: 2rem;
            padding: 1rem $HorizontalPadding;
        }
    }
    .Contact {
        // responsive 2 column grid
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: $GlobalGap;
        >div {
            flex: 1;
        }
        .ContactForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $GlobalGap;
            .ContactInput {
                position: relative;
                width: 100%;
                .IconButton {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    z-index: 2;
                    color: $C4;
                    padding: 1.5rem;
                }
                input {
                    position: relative;
                    width: 100%;
                    height: auto;
                    padding: 0.75rem 1rem;
                    border-radius: $FormsRadius;
                    background-color: lighten($C1, 97.5%);
                    border: transparent;
                    padding-left: 50px;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                textarea {
                    background-color: lighten($C1, 97.5%);
                    width: 100%;
                    border-radius: $FormsRadius;
                    outline: none;
                    padding: 1rem;
                    border: none;
                    resize: none;
                }
                .DefaultButton {
                    z-index: 1;
                    width: 100%;
                    color: $C4;
                }
            }
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
            min-height: 250px;
        }
    }
}