    .Service {
        width: 100%;
        display: flex;
        gap: $GlobalGap;
        flex-direction: column;
        @include GlobalPadding();
        .Qualities {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: $GlobalGap;
            margin-bottom: 1rem;
            h3 {
                font-size: 0.9rem;
                color: $C3;
            }
        }
        .Cards {
            display: grid;
            grid-gap: $GlobalGap;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            align-items: stretch;
            .Card {
                padding: 2rem;
                border-radius: 10px;
                background-color: $C1;
                background: $G1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                gap: 1rem;
                user-select: none;
                .IconButton {
                    pointer-events: none;
                    border-radius: 15px;
                    .Icon {
                        font-size: 2rem;
                        color: #fff;
                    }
                }
                .CardTitle {
                    color: $C2;
                }
                .CardText {
                    color: $C2;
                    font-size: 0.85rem;
                    font-weight: 500;
                    opacity: 75%;
                }
                .ReadMore {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 2rem;
                    font-size: 0.85rem;
                    padding: 0.75rem 0rem;
                    transition: all 0.3s ease;
                    color: $C2;
                    * {
                        color: inherit;
                    }
                    svg {
                        font-size: 1.2rem;
                    }
                }
                &:hover {
                    background: lighten($C1, 5%);
                    .ReadMore {
                        cursor: pointer;
                        background-color: white;
                        color: $C1;
                        border-radius: 15px;
                        padding: 0.75rem 1rem;
                    }
                }
                &:nth-child(2) {
                    background: lighten($C2, 35%);
                    &:hover {
                        background: $G2;
                        color: #fff;
                        .IconButton {
                            color: $C2;
                            background-color: $C4;
                            .Icon {
                                color: $C2;
                            }
                        }
                        .CardTitle,
                        .CardText {
                            color: $C4;
                        }
                        .ReadMore {
                            background-color: $C4;
                            color: $C2 !important;
                        }
                    }
                }
                &:nth-child(3) {
                    background: lighten($C3, 35%);
                    .IconButton {
                        color: $C4;
                        background-color: $C3;
                    }
                    .CardTitle,
                    .CardText {
                        color: $C3;
                    }
                    .ReadMore {
                        color: $C3;
                    }
                    &:hover {
                        background: $G3;
                        color: #fff;
                        .IconButton {
                            color: $C3;
                            background-color: $C4;
                            .Icon {
                                color: $C3;
                            }
                        }
                        .CardTitle,
                        .CardText {
                            color: $C4;
                        }
                        .ReadMore {
                            background-color: $C4;
                            color: $C3 !important;
                        }
                    }
                }
                &:nth-child(4) {
                    background: darken($color: $C4, $amount: 2.5%);
                    .IconButton {
                        color: $C4;
                        background-color: $C1;
                    }
                    .CardTitle,
                    .ReadMore {
                        color: $C1;
                    }
                    .CardText {
                        color: $C5;
                    }
                    &:hover {
                        background: darken($color: $C4, $amount: 7.5%);
                        .ReadMore {
                            background-color: $C1;
                            color: $C4 !important;
                        }
                    }
                }
            }
        }
        .ViewImages {
            width: 100%;
            .DefaultButton {
                width: 100%;
                color: $C4;
            }
        }
        .Gallery {
            width: 100%;
            height: 88vh !important;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            gap: $GlobalGap;
            >div {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 200px;
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.9);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                .Skeleton {
                    width: 100%;
                    height: 100%;
                }
            }
            .D1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .D2 {
                grid-area: 1 / 2 / 2 / 3;
            }
            .D3 {
                grid-area: 1 / 3 / 2 / 5;
            }
            .D4 {
                grid-area: 2 / 1 / 2 / 3;
            }
            .D5 {
                grid-area: 2 / 3 / 2 / 4;
            }
            .D6 {
                grid-area: 2 / 4 / 2 / 5;
            }
        }
    }