.Schedule {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    // responsive overflow-x
    overflow-x: auto;
    user-select: none;
    border-radius: 0px;
    @include GlobalPadding();
    // If focused, hide message
    &:focus {
        .Message {
            display: none;
        }
    }
    table {
        border-spacing: $GlobalGap;
        margin: 0 auto;
        position: relative;
        .Message {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba($C4, 50%);
            padding: 1rem;
            border-radius: 10px;
            color: $C1;
            font-weight: 500;
            font-size: 0.9rem;
            text-align: center;
            width: 100%;
            max-width: 500px;
            z-index: 1;
            // flex display column and centered
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $GlobalGap;
            // filter box shadow
            box-shadow: 0px 0px 10rem rgba($color: $C1, $alpha: 0.25);
            h3 {
                font-weight: 800;
                font-size: 1.25rem;
                color: rgba($C2, 100%);
            }
            p {
                font-weight: 500;
                font-size: 0.9rem;
                color: rgba($C1, 50%);
            }
            // hover
            &:hover {
                background: rgba(lighten($C2, 40%), 100%);
            }
        }
        thead>tr>td {
            min-width: 150px;
            min-width: min-content;
            max-width: max-content;
            background-color: $C4;
            border-radius: 10px;
            color: $C1;
            font-weight: 500;
            font-size: 0.9rem;
            padding: 10px;
            // filter box shadow
            filter: drop-shadow( 0px 0px 5rem rgba($color: $C1, $alpha: 0.5));
            // smooth box shadow
            &:first-child {
                background: $G2;
                color: $C4;
                text-align: center;
                font-weight: 800;
                color: transparent;
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                color: rgba($C1, 50%);
            }
            &:hover {
                background-color: darken($color: $C4, $amount: 5%);
            }
        }
        tbody>tr>td {
            position: relative;
            overflow: hidden;
            width: 200px;
            min-width: 150px;
            background-color: $C4;
            // padding: 10px 20px;
            border-radius: 15px;
            color: $C4;
            font-weight: 500;
            font-size: 0.9rem;
            border-radius: 15px;
            height: 1rem;
            &:has(> .WeatherCell) {
                background: $G2;
            }
            &:first-child {
                min-width: 200px;
                background: $G2;
                color: $C4;
                div {
                    background: none;
                }
                span {
                    font-weight: 400;
                    &:first-child {
                        font-weight: 800;
                    }
                    &:last-child {
                        font-weight: 400;
                        color: lighten($color: #000000, $amount: 90%);
                        background: none;
                        padding: 0px;
                        border-radius: 30%;
                    }
                }
            }
            .DayTime {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: $GlobalGap / 2;
                background: $C1;
                width: 100%;
                height: 100%;
                border-radius: 15px;
                padding: 0.75rem 0.75rem;
                span {
                    font-weight: 600;
                    font-size: 0.8rem;
                    z-index: 2;
                    background-color: transparent;
                    &:last-child {
                        font-weight: 600;
                        font-size: 0.8rem;
                        color: $C1;
                        background-color: $C4;
                        padding: 0.25rem 0.5rem;
                        border-radius: 5px;
                    }
                    &:nth-child(1) {
                        font-weight: 600;
                        font-size: 0.8rem;
                    }
                    &:nth-child(2) {
                        font-weight: 600;
                        font-size: 0.75rem;
                    }
                }
                .CellIcon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -10%;
                    height: 75%;
                    width: auto;
                    aspect-ratio: 1/1;
                    background: transparent !important;
                    z-index: 0;
                    // shall never touch text of span
                    pointer-events: none;
                    transition: all 0.3s;
                }
                &:hover {
                    .CellIcon {
                        left: -15%;
                    }
                }
            }
        }
    }
    .Presential {
        background: rgba(#ECB13F, 20%) !important;
        span {
            font-weight: 600;
            font-size: 0.8rem;
            color: #ECB13F;
            &:nth-child(2) {
                font-weight: 600;
                font-size: 0.8rem;
                color: #fff !important;
                background-color: #ECB13F !important;
                padding: 0.25rem 0.5rem;
                border-radius: 5px;
            }
        }
        &:hover {
            background: rgba(#ECB13F, 35%) !important;
        }
    }
    .Online {
        background: rgba(#39B54A, 20%) !important;
        span {
            font-weight: 600;
            font-size: 0.8rem;
            color: #39B54A;
            &:nth-child(2) {
                font-weight: 600;
                font-size: 0.8rem;
                color: #fff !important;
                background-color: #39B54A !important;
                padding: 0.25rem 0.5rem;
                border-radius: 5px;
            }
        }
        &:hover {
            background: rgba(#39B54A, 35%) !important;
        }
    }
    .Absent {
        background: rgba(#F74343, 20%) !important;
        span {
            font-weight: 600;
            font-size: 0.8rem;
            color: #F74343;
            &:nth-child(2) {
                font-weight: 600;
                font-size: 0.8rem;
                color: #fff !important;
                background-color: #F74343 !important;
                padding: 0.25rem 0.5rem;
                border-radius: 5px;
            }
        }
        &:hover {
            background: rgba(#F74343, 35%) !important;
        }
    }
    .Free {
        background: linear-gradient(170deg, rgba(#fff, 100%) 0%, rgba(#fff, 100%) 0%) !important;
        height: 100%;
        width: 100%;
        // width: 200px;
        min-width: 150px;
        min-height: 75px;
        &:hover {
            background: darken(white, 2.5%) !important;
        }
    }
    .WeatherCell {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        overflow: hidden;
        background: $G2 !important;
        gap: $GlobalGap /2;
        span {
            z-index: 6;
            // color: #ffbb3b !important;
            color: #fff;
            // box shadow
            text-shadow: 0 0 50px 10px #000;
            &:nth-child(1) {
                font-weight: 600;
                font-size: 0.8rem;
                color: $C4;
            }
            &:nth-child(2) {
                font-weight: 600;
                font-size: 0.75rem;
                color: $C4;
                color: #fff !important;
            }
        }
        // if Has Rainy icon classname
        &:has(svg.Rainy) {
            background: desaturate(darken($C2, 0%), 25%) !important;
        }
        // if Has Snowy icon classname
        &:has(svg.Snowy) {
            background: desaturate(darken($C2, 0%), 50%) !important;
        }
        // if Has Thunder icon classname
        &:has(svg.Thunder) {
            background: desaturate(darken($C2, 0%), 50%) !important;
        }
        // if has fog
        &:has(svg.Fog) {
            background: desaturate(darken($C2, 0%), 25%) !important;
        }
        // if has cloudy
        &:has(svg.Cloudy) {
            background: saturate(darken($C2, 0%), 25%) !important;
        }
        // if has sunny
        &:has(svg.Sunny) {
            background: saturate(darken($C2, 0%), 50%) !important;
        }
        &:hover {
            background: darken($color: $C2, $amount: 5%) !important;
        }
        .Icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: transparent !important;
            z-index: 5;
            svg {
                width: auto;
                height: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10%;
            }
            .Rainy,
            .Snowy,
            .Thunder,
            .SunRain {
                width: auto;
                height: 70% !important;
            }
            .Fog {
                width: auto;
                height: 75% !important;
            }
            // float animation
            animation: float 3s ease-in-out infinite;
            @keyframes float {
                0% {
                    transform: translatey(0px);
                }
                50% {
                    transform: translatey(-5px);
                }
                100% {
                    transform: translatey(0px);
                }
            }
        }
        .Banner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0.35;
            .Clouds {
                position: absolute;
                bottom: 0%;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent !important;
                // img vars
                img:nth-child(1) {
                    --i: 1;
                }
                img:nth-child(2) {
                    --i: 2;
                }
                img:nth-child(3) {
                    --i: 3;
                }
                img:nth-child(4) {
                    --i: 4;
                }
                img:nth-child(5) {
                    --i: 5;
                }
                img {
                    // each image has a unique variable
                    position: absolute;
                    bottom: 0;
                    max-width: 100%;
                    animation: animate calc(16s * var(--i)) linear infinite;
                }
                @keyframes animate {
                    0% {
                        transform: translateX(-100%);
                    }
                    100% {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
}

@include respond-to("small") {
    .EmploisPage .Schedule table tbody>tr>td>div>span {
        // &:first-of-type {
        //     margin-left: 15px !important;
        // }
        &:last-of-type {
            font-weight: 450 !important;
        }
    }
    .EmploisPage .Schedule table tbody>tr>td:first-child {
        min-width: 200px !important;
    }
}