                                            .Schedule {
                                                width: 100%;
                                                overflow-x: auto;
                                                user-select: none;
                                                border-radius: 0px;
                                                @include GlobalPadding();
                                                table {
                                                    border-spacing: $GlobalGap;
                                                    margin: 0 auto;
                                                    position: relative;
                                                    .Message {
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        background: rgba($C4, 50%);
                                                        padding: 1rem;
                                                        border-radius: 10px;
                                                        color: $C1;
                                                        font-weight: 500;
                                                        font-size: 0.9rem;
                                                        text-align: center;
                                                        width: 100%;
                                                        max-width: 500px;
                                                        z-index: 1;
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        align-items: center;
                                                        gap: $GlobalGap;
                                                        box-shadow: 0px 0px 10rem rgba($color: $C1, $alpha: 0.25);
                                                        h3 {
                                                            font-weight: 800;
                                                            font-size: 1.25rem;
                                                            color: rgba($C2, 100%);
                                                        }
                                                        p {
                                                            font-weight: 500;
                                                            font-size: 0.9rem;
                                                            color: rgba($C1, 50%);
                                                        }
                                                        &:hover {
                                                            background: rgba(lighten($C2, 40%), 100%);
                                                        }
                                                    }
                                                    thead>tr>td {
                                                        min-width: 150px;
                                                        min-width: min-content;
                                                        max-width: max-content;
                                                        background-color: $C4;
                                                        border-radius: 10px;
                                                        color: $C1;
                                                        font-weight: 500;
                                                        font-size: 0.9rem;
                                                        padding: 10px;
                                                        div {
                                                            display: flex;
                                                            justify-content: space-between;
                                                            align-items: center;
                                                            width: 100%;
                                                            color: rgba($C1, 50%);
                                                        }
                                                        &:first-child {
                                                            background: $G2;
                                                            color: $C4;
                                                            text-align: center;
                                                            font-weight: 800;
                                                            color: transparent;
                                                        }
                                                        &:hover {
                                                            background-color: darken($color: $C4, $amount: 5%);
                                                        }
                                                    }
                                                    tbody>tr>td {
                                                        position: relative;
                                                        overflow: hidden;
                                                        min-width: 150px;
                                                        background-color: $C4;
                                                        border-radius: 15px;
                                                        color: $C4;
                                                        font-weight: 500;
                                                        font-size: 0.9rem;
                                                        border-radius: 15px;
                                                        height: 1rem;
                                                        &.WeatherCell {
                                                            background: $G2;
                                                        }
                                                        &:first-child {
                                                            min-width: 200px;
                                                            background: $G2;
                                                            color: $C4;
                                                            div {
                                                                background: none;
                                                            }
                                                            span {
                                                                font-weight: 400;
                                                                &:first-child {
                                                                    font-weight: 800;
                                                                }
                                                                &:last-child {
                                                                    font-weight: 400;
                                                                    color: lighten($color: #000000, $amount: 90%);
                                                                    background: none;
                                                                    padding: 0px;
                                                                    border-radius: 30%;
                                                                }
                                                            }
                                                        }
                                                        .DayTime {
                                                            display: flex;
                                                            position: relative;
                                                            flex-direction: column;
                                                            justify-content: center;
                                                            align-items: center;
                                                            width: 100%;
                                                            .Weather {
                                                                background: $G2;
                                                                border-radius: 50%;
                                                                width: 60px;
                                                                height: 60px;
                                                                margin: 0 auto;
                                                                display: flex;
                                                                justify-content: center;
                                                                align-items: center;
                                                                img {
                                                                    width: 40%;
                                                                }
                                                            }
                                                            .Temp {
                                                                font-weight: 800;
                                                                font-size: 1.25rem;
                                                                color: rgba($C2, 100%);
                                                            }
                                                        }
                                                        &:hover {
                                                            background-color: darken($color: $C4, $amount: 5%);
                                                        }
                                                    }
                                                }
                                            }