.EspaceEquippe {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
    padding: 1rem $HorizontalPadding;
    >div {
        flex: 1;
    }
    .Text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 0;
        gap: $GlobalGap;
        h3 {
            color: $C3;
            font-size: 0.9rem;
            text-transform: uppercase;
            margin-bottom: $GlobalGap;
        }
        h2 {
            font-weight: 700;
            margin-bottom: $GlobalGap;
        }
        p {
            font-weight: 400;
            opacity: 0.60;
            font-size: 1rem;
            margin-bottom: 2rem;
        }
        .Buttons {
            display: flex;
            justify-content: space-between;
            gap: $GlobalGap * 2;
            .Button {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                .Icon {
                    font-size: 1.2rem;
                }
                .IconButton {
                    border-radius: 50px;
                    padding: 0.25rem !important;
                    .Icon,
                    svg {
                        font-size: 1rem !important;
                    }
                }
                span {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    .Image {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 500px;
        min-height: 500px;
        Image {
            position: absolute;
        }
    }
}