    .Service {
        width: 100%;
        padding: 1rem $HorizontalPadding;
        display: flex;
        gap: $GlobalGap;
        flex-direction: column;
        .Qualities {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: $GlobalGap;
            margin-bottom: 1rem;
            h3 {
                font-size: 0.9rem;
                color: $C3;
            }
        }
        .Cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: $GlobalGap;
            .Card {
                padding: 2rem;
                border-radius: 10px;
                background-color: $C1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                gap: 1rem;
                .IconButton {
                    .Icon {
                        font-size: 2rem;
                        color: #fff;
                    }
                }
                .CardTitle {
                    color: $C2;
                }
                .CardText {
                    color: $C2;
                    font-size: 0.85rem;
                    font-weight: 500;
                    opacity: 75%;
                }
                .ReadMore {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 2rem;
                    font-size: 0.85rem;
                    * {
                        color: $C2;
                    }
                    svg {
                        font-size: 1.2rem;
                    }
                }
                &:nth-child(2) {
                    background-color: lighten($C2, 30%);
                }
                &:nth-child(3) {
                    background-color: lighten($C3, 40%);
                    .IconButton {
                        color: $C4;
                        background-color: $C3;
                    }
                    .CardTitle,
                    .ReadMore * {
                        color: $C3;
                    }
                    .CardText {
                        color: $C3;
                    }
                }
                &:nth-child(4) {
                    background-color: darken($color: $C4, $amount: 2.5%);
                    .IconButton {
                        color: $C4;
                        background-color: $C1;
                    }
                    .CardTitle,
                    .ReadMore * {
                        color: $C1;
                    }
                    .CardText {
                        color: $C5;
                    }
                }
            }
        }
        .ViewImages {
            width: 100%;
            .DefaultButton {
                width: 100%;
            }
        }
    }