$color-primary: $C1;
$color-white: $C4;
.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    &__Title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__Message {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    &__Buttons {
        display: flex;
        gap: $GlobalGap;
    }
}