    .Register {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        * {
            font-family: inherit !important;
        }
        .Header {
            z-index: 100 !important;
            .End {
                display: none;
            }
        }
        .RegisterContainer {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 0 !important;
            @include GlobalPadding();
            padding-left: 0 !important;
            padding-right: 0 !important;
            .wrapper {
                width: 350px;
                @include respond-to('small') {
                    width: 100%;
                    @include GlobalPadding;
                }
                .Form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: $GlobalGap;
                    // class Form__Footer
                    .FormFooter {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex;
                        gap: $GlobalGap;
                        p {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            color: $C1;
                            font-size: 0.85rem;
                            font-weight: 500;
                            text-decoration: none;
                            a {
                                color: $C2;
                                font-weight: 800;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .Form-group {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        .Input {
                            position: relative;
                            width: 100%;
                            min-width: 300px;
                            height: auto;
                            border-radius: $FormsRadius;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:not(:first-child) {
                                margin-top: 15px;
                            }
                            // has focused input
                            &:has( input:focus) {
                                .Input-icon {
                                    background-color: $C2;
                                    // border
                                    border: 2.5px solid rgba($C4, 0.15);
                                    svg {
                                        color: $C4;
                                    }
                                }
                            }
                            // has invalid input
                            &:has( input[aria-invalid='true']) {
                                .Input-icon {
                                    background-color: rgba(rgb(251, 72, 72), 50%);
                                    // border
                                    border: 2.5px solid rgba($C4, 0.15);
                                    svg {
                                        color: $C4;
                                    }
                                }
                                // Visibility icon
                                .Visibility {
                                    background-color: rgba(rgb(251, 72, 72), 0%);
                                    // border
                                    border-radius: $FormsRadius;
                                    svg {
                                        color: $C4;
                                    }
                                }
                                svg {
                                    color: $C4 !important;
                                }
                            }
                            // has valid
                            // &:has(.Valid) {
                            //     .Input-icon {
                            //         background-color: rgba($C3, 1);
                            //         // border
                            //         border: 2.5px solid rgba($C4, 0.15);
                            //         svg {
                            //             color: $C4;
                            //         }
                            //     }
                            //     input {
                            //         color: rgba($C3, 1) !important;
                            //         background: rgba($C3, 0.2) !important;
                            //     }
                            //     // Visibility icon
                            //     .Visibility {
                            //         background-color: rgba($C3, 0);
                            //         // border
                            //         border-radius: $FormsRadius;
                            //         svg {
                            //             color: $C3;
                            //         }
                            //     }
                            // }
                            .form-control {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                font-size: 0.85rem;
                                font-weight: 700;
                                color: rgba($C1, 0.5);
                                text-align: left;
                                padding: 0 0px;
                                border-radius: $FormsRadius;
                                transition: all 0.3s ease;
                                z-index: 0 !important;
                                box-shadow: none !important;
                                .MuiInputBase-root {
                                    width: 100%;
                                    height: 100%;
                                    border: none !important;
                                    outline: none !important;
                                    font-size: inherit;
                                    font-weight: inherit;
                                    color: rgba($C1, 0.5);
                                    text-align: left;
                                    padding: 0;
                                    border-radius: $FormsRadius;
                                    transition: all 0.3s ease;
                                    z-index: 0 !important;
                                    box-shadow: none !important;
                                    &:has(.MuiOutlinedInput-notchedOutline) {
                                        .MuiOutlinedInput-notchedOutline {
                                            border: none !important;
                                            outline: none !important;
                                            box-shadow: none !important;
                                        }
                                    }
                                    input {
                                        background-color: #fff;
                                        width: 100%;
                                        height: 100%;
                                        padding-left: 60px;
                                        border: none !important;
                                        outline: none !important;
                                        box-shadow: none !important;
                                        font-size: inherit;
                                        font-weight: inherit;
                                        color: rgba($C1, 0.5);
                                        text-align: left;
                                        transition: all 0.3s ease;
                                        z-index: 0 !important;
                                        border-radius: $FormsRadius;
                                        // aria invalid
                                        &[aria-invalid='true'] {
                                            border: none !important;
                                            outline: none !important;
                                            box-shadow: none !important;
                                            background-color: rgba(rgb(251, 72, 72), 50%);
                                            color: rgba($C4, 1);
                                            &::placeholder {
                                                color: rgba($C4, 1);
                                            }
                                        }
                                    }
                                }
                                p {
                                    padding: 0 !important;
                                    margin: 0 !important;
                                    font-size: 0.75rem;
                                    font-weight: 700;
                                    padding: 0.5rem 0 !important;
                                    padding-top: 0.5rem !important;
                                    padding-bottom: 0.65rem !important;
                                }
                            }
                            .Input-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $C2;
                                border-radius: $FormsRadius;
                                z-index: 1 !important;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: $C4;
                                }
                            }
                            .Progress {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba($C2, 0);
                                border-radius: $FormsRadius;
                                z-index: 1 !important;
                                svg {
                                    color: $C3;
                                }
                            }
                            .Valid {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: transparent;
                                border-radius: 5px;
                                cursor: pointer;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: rgba($C3, 0.75);
                                    &:hover {
                                        color: rgba($C3, 0.5);
                                    }
                                }
                            }
                            .Visibility {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: transparent;
                                border-radius: 5px;
                                cursor: pointer;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: rgba($C1, 0.25);
                                    &:hover {
                                        color: rgba($C1, 0.35);
                                    }
                                }
                            }
                        }
                    }
                    .btnPrimary {
                        @include DefaultButton($C2);
                        width: 100%;
                        height: 50px;
                        box-shadow: none;
                        color: #fff !important;
                        &.Loading {
                            background-color: rgba($C2, 1);
                            border: 2.5px solid rgba($C4, 0.25);
                            pointer-events: all;
                            cursor: not-allowed;
                            svg {
                                color: $C4;
                            }
                        }
                    }
                }
            }
        }
    }