.Content {
    display: flex;
    // desable scroll without hiding elements
    flex-direction: column;
    gap: $GlobalGap;
    width: 100%;
    min-height: 100%;
    .Title {
        background-color: $C4;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        border-radius: 15px;
        .Box {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            .MuiSvgIcon-root {
                color: $C2;
            }
            p {
                color: $C2;
                font-weight: 600;
            }
        }
        .MuiButtonBase-root {
            background-color: $C2;
            text-transform: none;
            color: $C4;
            font-weight: 600;
            border-radius: 7.5px;
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            gap: 0.5rem;
            box-shadow: none;
            .MuiSvgIcon-root {
                font-size: 1.2rem;
            }
        }
    }
    .Cards {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: $GlobalGap;
        .Card {
            // width
            width: 100%;
        }
    }
    .LoadingContainer {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;
        border-radius: 15px;
        padding: 1rem;
        // Grid display
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: $GlobalGap;
        .Loader {
            position: relative;
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            border: 1px solid #d3d3d3;
            padding: 15px;
            border-radius: 5px;
            background-color: #e3e3e3;
            overflow: hidden;
            opacity: 50%;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
                animation: gradient-animation_2 1.2s linear infinite;
            }
            .wrapper {
                width: 100%;
                height: 100%;
                position: relative;
            }
            .wrapper>div {
                background-color: #cacaca;
            }
            .circle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .button {
                display: inline-block;
                height: 32px;
                width: 75px;
            }
            .line-1 {
                position: absolute;
                top: 11px;
                left: 58px;
                height: 10px;
                width: 100px;
            }
            .line-2 {
                position: absolute;
                top: 34px;
                left: 58px;
                height: 10px;
                width: 150px;
            }
            .line-3 {
                position: absolute;
                top: 57px;
                left: 0px;
                height: 10px;
                width: 100%;
            }
            .line-4 {
                position: absolute;
                top: 80px;
                left: 0px;
                height: 10px;
                width: 92%;
            }
            @keyframes gradient-animation_2 {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(100%);
                }
            }
        }
    }
}