.SideBar {
    display: flex;
    flex-direction: column;
    width: max-content !important;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: $C4;
    border-radius: 15px;
    padding: 1rem;
    .ImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
        .Logo {
            width: 100%;
            height: 0;
            object-fit: contain;
            // aspect ratio
            padding-bottom: 30%;
            background-color: $C4;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .NavButtons {
            display: flex;
            flex-direction: column;
            gap: $GlobalGap;
            width: 100%;
            .NavButton {
                width: 100%;
                border-radius: 7.5px;
                display: flex;
                justify-content: flex-start;
                gap: 10px;
                padding: 7px 15px;
                text-transform: none;
                font-weight: 600;
                color: #F2F2F2;
                // no line break
                white-space: nowrap;
                svg {
                    font-size: 1.25rem;
                    color: inherit;
                }
            }
            .Active {
                background-color: $C2;
            }
            .Inactive {
                background-color: lighten($C2, 45%);
                color: rgba($color: $C2, $alpha: 0.5);
            }
            .Main {
                background: $G3;
                color: darken($C4, 10%);
                display: flex;
                flex-direction: row;
            }
        }
    }
    .Logout {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 0rem;
        justify-content: center;
        width: 100%;
        .Delogin {
            text-transform: none;
            background-color: #F74343;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            padding: 7px 15px;
            border-radius: 7.5px;
            color: white;
            svg {
                font-size: 1.25rem;
                color: inherit;
            }
        }
    }
}