.Announces {
    width: 100%;
    height: 100%;
    min-height: auto;
    background: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $GlobalGap;

    .Cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(800px, 2fr));
        grid-gap: $GlobalGap;

        .AnnounceCard {
            $MC1: #e35d5b;
            $MC2: #e53935;
            width: 100%;
            height: 100%;
            background: #e53935;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #e35d5b, #e53935);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 10px;
            @include GlobalPadding;
            gap: $GlobalGap * 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .CardHeader {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: $GlobalGap;

                .Title {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: $C4;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: left;

                    .Icon {
                        width: 50px;
                        height: 50px;
                        background-color: $C4;
                        border-radius: 10px;
                        color: $MC1;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    h4 {
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: $C4;
                        width: max-content;
                    }
                }

                .Date {
                    font-size: 0.85rem;
                    font-weight: 400;
                    color: $C4;
                    width: 100%;
                    opacity: 0.5;
                }
            }

            .Content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: $GlobalGap;
                text-align: left;

                .Text {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $C4;
                    width: 100%;
                    opacity: 1;

                    p {
                        opacity: 0.75;
                    }

                    span {
                        font-size: 1rem;
                        font-weight: 600;
                        color: $C4;
                        width: max-content;
                    }
                }

                .DefaultButton {
                    color: #e35d5b;
                }
            }
        }
    }
}