table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ccc;
    padding: 8px;
}

.css-jjtu05 {
    height: 100% !important;
    min-height: 100% !important;
    overflow: scroll !important;
}
