    @import "@/app/global/Global.scss";

    .Register {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: relative;

        * {
            font-family: inherit !important;
        }

        .Header {
            z-index: 100 !important;

            .End {
                display: none;
            }
        }

        .RegisterContainer {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 0 !important;
            @include GlobalPadding();
            padding-left: 0 !important;
            padding-right: 0 !important;

            .wrapper {
                width: 350px;

                @include respond-to ('small') {
                    width: 100%;
                    @include GlobalPadding;
                }

                .Form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: $GlobalGap;

                    .FormTitle {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex;
                        gap: $GlobalGap / 2;
                        color: var(--nextui-colors-text);
                        text-align: center;
                        margin: $GlobalGap 0;
                    }

                    .FormFooter {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex;
                        gap: $GlobalGap;
                    }

                    .Form-group {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .Input {
                            position: relative;
                            width: 100%;
                            min-width: 300px;
                            height: auto;
                            border-radius: $FormsRadius;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // border: 1px solid var(--nextui-colors-textLight);

                            &:not(:first-child) {
                                margin-top: 15px;
                            }

                            // has focused input
                            &:has(input:focus) {
                                .Input-icon {
                                    background-color: $C2;
                                    // border
                                    border: 2.5px solid var(--nextui-colors-backgroundAlpha);

                                    svg {
                                        color: var(--nextui-colors-backgroundAlpha);
                                    }
                                }
                            }

                            // has invalid input
                            &:has(input[aria-invalid='true']) {
                                .Input-icon {
                                    background-color: var(--nextui-colors-error);

                                    // border
                                    // border: 2.5px solid var(--nextui-colors-textLight);

                                    svg {
                                        color: var(--nextui-colors-text);
                                    }
                                }

                                .Mui-error {
                                    color: var(--nextui-colors-error);
                                }

                                // Visibility icon
                                .Visibility {
                                    // border
                                    border-radius: $FormsRadius;

                                    svg {
                                        color: var(--mui-palette-common-background);
                                    }
                                }

                                svg {
                                    color: var(--mui-palette-common-background) !important;
                                }
                            }

                            .form-control {
                                width: 100%;
                                // height: 100%;
                                border: none;
                                outline: none;
                                font-size: 0.85rem;
                                font-weight: 700;
                                color: var(--nextui-colors-textLight);
                                text-align: left;
                                padding: 0;
                                border-radius: $FormsRadius;
                                transition: all 0.3s ease;
                                z-index: 0 !important;
                                box-shadow: none !important;

                                .MuiInputBase-root {
                                    width: 100%;
                                    height: 100%;
                                    border: none !important;
                                    outline: none !important;
                                    font-size: inherit;
                                    font-weight: inherit;
                                    color: var(--nextui-colors-textLight);
                                    text-align: left;
                                    padding: 0;
                                    border-radius: $FormsRadius;
                                    transition: all 0.3s ease;
                                    z-index: 0 !important;
                                    box-shadow: none !important;

                                    &:has(.MuiOutlinedInput-notchedOutline) {
                                        .MuiOutlinedInput-notchedOutline {
                                            border: none !important;
                                            outline: none !important;
                                            box-shadow: none !important;
                                        }
                                    }

                                    .MuiInputBase-input {
                                        background-color: var(--mui-palette-common-background);
                                        width: 100%;
                                        height: auto;
                                        max-height: 50px;
                                        padding-left: 60px;
                                        outline: none !important;
                                        box-shadow: none !important;
                                        font-size: inherit;
                                        font-weight: inherit;
                                        color: var(--nextui-colors-text);
                                        text-align: left;
                                        z-index: 0 !important;
                                        border-radius: $FormsRadius;
                                        border: 1px solid var(--nextui-colors-textLight);

                                        // aria invalid
                                        &[aria-invalid='true'] {
                                            border: 1px solid var(--nextui-colors-error);
                                            outline: none !important;
                                            box-shadow: none !important;
                                            background-color: var(--mui-palette-common-background);
                                            color: var(--nextui-colors-error);

                                            &::placeholder {
                                                color: var(--nextui--colors-errorLight);
                                            }
                                        }
                                    }
                                }

                                p {
                                    padding: 0 !important;
                                    margin: 0 !important;
                                    font-size: 0.75rem;
                                    font-weight: 700;
                                    padding: 0.5rem 0 0.65rem !important;
                                }
                            }

                            .Input-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 53.5px;
                                height: 100%;
                                min-height: 53.5px;
                                max-height: 53.5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $C2;
                                border-radius: $FormsRadius;
                                z-index: 1 !important;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: var(--mui-palette-common-background);
                                }
                            }

                            .Progress {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                min-height: 50px;
                                max-height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: $FormsRadius;
                                z-index: 15 !important;

                                svg {
                                    color: $C3 !important;
                                }
                            }

                            .Valid {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: transparent;
                                border-radius: 5px;
                                cursor: pointer;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: rgba($C3, 0.75) !important;

                                    &:hover {
                                        color: rgba($C3, 0.5) !important;
                                    }
                                }
                            }

                            .Visibility {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 50px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: transparent;
                                border-radius: 5px;
                                cursor: pointer;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                    color: var(--nextui-colors-textLight);

                                    &:hover {
                                        color: var(--nextui-colors-text);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }